* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sunflower', sans-serif; 
    text-decoration: none;
    /* font-family: 'Rajdhani', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Abel', sans-serif; */
    /* font-family: 'Dosis', sans-serif; */
}

body {
    height: 100vh;
}

button:focus { outline:none }

.navbar {
    background-color: black !important;
}

.orange-text {
    color: orange !important;
}

#nav-fixed{
    width: 100%;
    position: fixed;
    top:0; 
    left: 0;
}

.section {
    position: relative;
    top: 56px;
    height: calc(100% - 56px);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.photo-box{
    flex-basis: 30%;
}

.photo{
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.right-section {
    height: auto;
    padding: 56px 10vw 0 10vw;
    flex-basis: 70%;
}


.about-text {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
