* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sunflower', sans-serif; 
    text-decoration: none;
}
/* body {
    display: flex;
    padding: 0 10%;
} */

#header-alex {
    margin-right: 15px;
    padding: 0 0 0 10%;
    display: inline;
    position: relative;
    top: 12px;
}
.media-img {
    height: 40px;
    margin: 0 3px;
    display: inline;
}

.media-img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
}

header {
    /* display: flex; */
    padding-top: 3vh;
}

#main-text-top, #main-text-bottom {
    display: flex;
    padding: 3vh 0 ;
    /* transform: perspective(900px) rotateY(-30deg); */
}

.text-main {
    padding: 0 10%;
    font-size: 20px;
}


/* ============================================================ CSRUSEL  */

#carusel {
    left: 10vw;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 38vh;
    width: 100%;
    justify-content: space-between ;
    transform: perspective(1200px) rotateY(30deg);
}

.slide-img {
    margin: 0 0.5%;
    flex-basis: 18vw;
}

#slide-1 {
    /* width:19%; */
    height: 30vh;
    /* transform: perspective(600px) rotateY(30deg); */
    filter: blur(4px);
}

#slide-2 {
    /* width:19%; */
    height: 30vh;
    border: 8px dotted black;
    padding: 0.1%;
    /* transform: perspective(600px) rotateY(30deg); */
}

#slide-3 {
    /* width:19%; */
    height: 30vh;
    /* transform: perspective(600px) rotateY(30deg); */
    filter: blur(4px);
}

#slide-4 {
    /* width:19%; */
    height: 30vh;
    /* transform: perspective(600px) rotateY(30deg); */
    filter: blur(4px);
}

#slide-5 {
    /* width:19%; */
    height: 30vh;
    /* transform: perspective(600px) rotateY(30deg); */
    filter: blur(4px);
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}